.container-fluid {
  padding: 0 0 50px 0!important;
  width: 92%;
  margin: 0 auto;
  min-height: 63vh;
  padding-top: 30px;
}
.not-autorized{
  width: 92%;
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #c2c2c2;
}
.not-autorized h2{
  text-align: center;
  font-size: 21px;
  font-family: OpenSans;
  line-height: 30px;
}
.not-autorized button{
  cursor: pointer;
  height: 35px;
  width: 140px;
  text-align: center;
  background-color: #00a3c6;
  border: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 35px;
  margin-top: 25px;
  font-family: OpenSansBold;

}
.heading {
  border-left: 10px solid #00a3c6;
  padding: 0;
  box-sizing: border-box;
  margin: 30px 0 35px 0 !important;
  height: 40px !important;
}
app-teacher-card{
  padding-right: 30px;
}

.heading h6 {
  text-transform: uppercase;
  margin: 0 0 0 12px;
  font-family: OpenSansBold;
  font-size: 16px;
  line-height: 16px;
}
.heading h2 {
  text-transform: uppercase;
  margin: 0 0 0 12px;
  line-height: 24px;
  font-family: OpenSansBold;
  font-size: 24px;
}
nav {

  width: 100%;
  padding: 0 20%;
  margin-bottom: 5vh;
}

nav a {
  color: #00a3c6;
  font-size: 1rem;
}

nav li :hover {
  background: #00a3c6;
  color: white;
}

nav li {
  margin: 0 .2vw;
  border-radius: 0;
}

nav li :first-child {
  margin-left: 0;
}

nav li:last-child {
  margin-right: 0;
}
.filter-subject{
  outline: none;
  height: auto;
  box-sizing: border-box;
  position: relative;
  user-select: none!important;
  cursor: pointer;
  width: 200px;
  background: #ffffff;
  box-sizing: border-box;
}
.subjects h2{
  margin-bottom: 0;
  padding-left: 12px;
  font-size: 16px;
  font-family: OpenSans;
  line-height: 36px;
}
.subjects h2:hover{
  background-color: #00a3c6;
  color: white;
}
.subjects{
  display: none;
  z-index: 1;
  overflow-y: auto;
  box-sizing: border-box;
  border: 1px solid #c0bfbf;
  width: 200px;
  top: 33px;
  background: #ffffff;
  position: absolute;
  height: 150px;
}
input::-webkit-calendar-picker-indicator {
  display: none;
}
.filter-school{
  outline: none;
  width: 200px;
  border: 1px solid #c0bfbf;
  box-sizing: border-box;
  padding-left: 12px;
  background: #ffffff;
  font-size: 16px;
  font-family: OpenSans;
  line-height: 30px;
}
datalist{
  width: 200px;
  box-sizing: border-box;
  border: 1px solid #c0bfbf;
}
datalist option{
  width: 100%;
  height: 30px!important;
  background: #ffffff;
  padding-left: 12px;
}
.filter-subject > h2{
  height: 34px;
  border: 1px solid #c0bfbf;
  box-sizing: border-box;
  padding-left: 12px;
  width: 100%;
  margin-bottom: 0;
  font-size: 16px;
  font-family: OpenSans;
  line-height: 30px;
  position: relative;
}
.filter-subject > img{
  transform: rotate(0deg);
  transition: .2s all linear;
  height: 10px;
  width: auto;
  position: absolute;
  top: 12px;
  right: 3px;
}
.filters{
  margin-bottom: 30px;
  padding-right: 30px;
}
@media (max-width: 767.98px) {
  app-teacher-card{
    padding: 0!important;
  }
  app-advertisment{
    padding: 0!important;
  }
}
