<div  class="container-fluid m-0 d-flex justify-content-between" [routerLink]="['room',chatRoom.id]">
  <div class="left h-100 d-flex">
    <span class="rounded-circle align-self-center " [style.backgroundImage]="'url('+ (image) +')'"></span>
    <div class="data">
      <div class="name">
        <h2>{{name|nou}}</h2>
      </div>
      <div class="lastMessage">
        <h3>{{getLastMessage()}}</h3>
      </div>
    </div>
  </div>
  <div *ngIf="chatRoom.messages.length!=0" class="right h-100 d-flex align-items-start">
    <h3>{{getLastDateTime()}}</h3>
  </div>
</div>
