.container-fluid{
  min-height: 63vh;
  padding-top: 200px;
  padding-bottom: 200px;
}
.cont{
  width: 600px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #c0bfbf;
}
input{
  margin-bottom: 30px;
  width: 100%;
  border: 1px solid #c0bfbf;
  height: 30px;
  font-size: 18px;
  line-height: 24px;
  padding-left: 10px;
  font-family: OpenSans;
}
h2{
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 30px;
  font-family: OpenSans;
}
button{
  font-size: 18px;
  line-height: 24px;
  font-family: OpenSans;
  background-color: #00a3c6;
  border: none;
  width: 200px;
  margin-bottom: 40px;
  height: 40px;
  color: white;
}
button:hover{
  cursor: pointer;
  background-color: #0184a0;
}
