  a{
  color: #00a3c6;
  text-underline: #0184a0;
  font-family: OpenSansBold;
}
 a:hover{
  color: #0184a0;
}

img{
  margin: auto 15px auto 0;
  height: 40px;
  width: auto;
}
table * {
  box-sizing: border-box;
}
table{
  margin-bottom: 30px;
}
.thead-first {
  font-size: 18px;
  font-family: OpenSans;
  font-size: 15px;
  line-height: 24px;
  background: #555555;
  color: white;
}

.thead-first td:first-child{
  padding-left: 15px!important;
  font-family: OpenSansBold;
}

.forumStyle{
  width: 100%;
  overflow-x: auto;
}
tbody{
  background: white;
  font-family: OpenSans;
  font-size: 14px;
  line-height: 40px;
}
tbody td{
  height: 80px;
  line-height: normal;
  margin: auto 0;
}
tbody td:first-child{
  font-family: OpenSansBold;
  padding: 20px 15px;
 width: 50%;
}
tbody td:not(:first-child){
  font-size: 16px;
  padding: 40px 15px;
}
tbody td:nth-child(2){
  text-align: center;
  width: 10%;
}
tbody td:nth-child(3){
  text-align: center;
  width: 15%;
}
tbody td:last-child{
  padding: 0!important;
  width: 25%;
}
tbody td:last-child p{

  margin: 0 0 0 8%;
}
.theme{
  color: #00a3c6;
}
.theme:hover{
  color: #0184a0;
  cursor: pointer;
}
